# HAProxy minimal pra Rinha 2026.
# - frontend HTTP em :9999
# - upstream UDS (2 backends, least connections, keep-alive reuse)
# - 1 thread (alinha com cpuset/cpus do container)

global
    daemon
    nbthread 1
    maxconn 16384

defaults
    mode    http
    timeout connect 1s
    timeout client  10s
    timeout server  10s
    option  http-keep-alive
    option  http-no-delay
    no log

frontend front
    bind *:9999
    default_backend api

backend api
    balance leastconn
    http-reuse always
    server api1 /sockets/api1.sock check inter 2s
    server api2 /sockets/api2.sock check inter 2s
